$off-canvas-overlay-background: rgba(#000, 0.2) !default;
$menu-slide: "transform 0 ease" !default;

$base-font-size: 20px;
$em-base: $base-font-size;

html, body {
  height: 100%;
  //background-color: rgb(78, 78, 78);
  /* The html and body elements cannot have any padding or margin. */
}


body {
  position: relative;
  //padding-top: 0px;
  //padding-bottom: 0px;
}