hr
.row
  .medium-12.columns
    a.button.radius.large.expand(href='#/add') Agregar dispositivo
    a.button.radius.large.expand(href='#/remove') Eliminar dispositivo
    a.button.radius.large.expand Configuración
    a.button.radius.large.expand(href='#/list') Lista de dispositivos
      