h2.text-center Eliminar Control
hr
div(ng-repeat = "dbl in db | orderBy: \'location\'&&\'name\'&&\'category\'")
  .panel.radius
    .text-center
      .row.small-centered(style='display: inline-block;')
        .small-4.columns
          h3 {{dbl.location}}
        .small-4.columns
          h3 {{dbl.name}}
        .small-4.columns
          a.button.alert.radius.tiny(ng-click='removeDevice(dbl)')
            b ELIMINAR


//.panel
  .text-center
    .row
      .small-6.columns
        h2 Hola
      .small-6.columns
        .switch.round.large(style='margin-bottom: 0px;')
          input(id='1234', type='checkbox', ng-model='data', ng-click='')
          label(for='1234')

//div(ng-repeat="dbl in db | filterBy: ['location']:'Comedor'")
  .panel
    .text-center
      .row
        .small-6.columns
          h2 {{dbl.name}}
        .small-6.columns
          .switch.round.large(style='margin-bottom: 0px;')
            input(id='{{dbl.id}}', type='checkbox', ng-model='data', ng-click='')
            label(for='{{dbl.id}}')