.panel
  .text-center
    .row
      .small-6.columns
        h2 Hola
      .small-6.columns
        .switch.round.large(style='margin-bottom: 0px;')
          input(id='1234', type='checkbox', ng-model='data', ng-click='')
          label(for='1234')

//div(ng-repeat="dbl in db | filterBy: ['location']:'Comedor'")
  .panel
    .text-center
      .row
        .small-6.columns
          h2 {{dbl.name}}
        .small-6.columns
          .switch.round.large(style='margin-bottom: 0px;')
            input(id='{{dbl.id}}', type='checkbox', ng-model='data', ng-click='')
            label(for='{{dbl.id}}')