<h2 class="text-center">Eliminar Control</h2><hr/><div ng-repeat="dbl in db | orderBy: 'location'&amp;&amp;'name'&amp;&amp;'category'"><div class="panel radius"><div class="text-center"><div style="display: inline-block;" class="row small-centered"><div class="small-4 columns"><h3>{{dbl.location}}</h3></div><div class="small-4 columns"><h3>{{dbl.name}}</h3></div><div class="small-4 columns"><a ng-click="removeDevice(dbl)" class="button alert radius tiny"><b>ELIMINAR</b></a></div></div></div></div></div><!--.panel.text-center
  .row
    .small-6.columns
      h2 Hola
    .small-6.columns
      .switch.round.large(style='margin-bottom: 0px;')
        input(id='1234', type='checkbox', ng-model='data', ng-click='')
        label(for='1234')
--><!--div(ng-repeat="dbl in db | filterBy: ['location']:'Comedor'").panel
  .text-center
    .row
      .small-6.columns
        h2 {{dbl.name}}
      .small-6.columns
        .switch.round.large(style='margin-bottom: 0px;')
          input(id='{{dbl.id}}', type='checkbox', ng-model='data', ng-click='')
          label(for='{{dbl.id}}')-->